doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title Белорусская АЭС | Экран состояний для шкафа локального управления транспортным шлюзом
    link(rel='stylesheet', href='../styles/style.css')
  body

    // conteiner
    .conteiner

      include ../blocks/block-header/header.pug

      // test program

      .program

        // cabinet

        .program__cabinet

          // title cabinet

          .program__cabinet__title
            | Шкаф 1

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            // lamp 1

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 2

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 3

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 4

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 5

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 6

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 7

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 8

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 9

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication                              

            // lamp 10

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 11

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 12

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 13

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 14

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication   

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Контакторы

            // contactor 1

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 2

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 3

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 4

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 5

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 6

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 7

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 8

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 9

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 10

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 11

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 12

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 13

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 14

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 15

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 16

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 17

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 18

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 19

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 20

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 21

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 22

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 23

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 24

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 25

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 26

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 27

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 28

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 29

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 30

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 31

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 32

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication              

        // cabinet

        .program__cabinet

          // title cabinet

          .program__cabinet__title
            | Шкаф 2

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            // lamp 1

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 2

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 3

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 4

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 5

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 6

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 7

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 8

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Контакторы

            // contactor 1

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 2

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 3

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 4

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 5

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 6

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 7

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 8

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 9

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 10

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 11

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 12

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 13

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 14

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 15

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 16

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 17

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 18

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 19

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 20

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 21

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 22

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 23

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 24

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 25

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 26

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 27

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 28

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 29

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 30

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 31

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 32

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication          

        // cabinet

        .program__cabinet

          // title cabinet

          .program__cabinet__title
            | Шкаф 4

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            // lamp 1

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 2

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 3

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 4

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 5

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 6

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // lamp 7

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Контакторы

            // contactor 1

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 2

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 3

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 4

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 5

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 6

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 7

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 8

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 9

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 10

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 11

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 12

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 13

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 14

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 15

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 16

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 17

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 18

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 19

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            // contactor 20

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

        // cabinet

        .program__cabinet.w-290.left

          // title cabinet

          .program__cabinet__title
            | ПУ 1

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

        // block

        .program__cabinet.w-300.left.ml-20.program__cabinet__ind

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-indication
              | Лампы с шкафов: 5/22

            .program__cabinet__indications__name-indication
              | Контакторы с шкафов: 5/111

            .program__cabinet__indications__name-indication
              | <span>Текущая операция:</span> Шкаф 3 Контактор включен

        // block

        .program__cabinet.left.ml-20.program__cabinet__ind.no-border.cols-for-buttons

          // indications from cabinet

          .program__cabinet__indications.no-padding

            .btn.btn-grey.btn-grey-big.btn__start.btn__start__true
              | Старт

            .btn.btn-grey.btn-grey-big.btn__reset.btn__reset__false
              | Сброс


  include ../blocks/block-local-connection-error/local-connection-error.pug
  include ../blocks/block-no-connection/no-connection.pug 
  //include ../blocks/block-navigation/navigation.pug
  include ../blocks/block-scripts/scripts.pug

