doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title Белорусская АЭС | Экран состояний для шкафа локального управления транспортным шлюзом
    link(rel='stylesheet', href='../styles/style.css')
  body

    // conteiner
    .conteiner

      include ../blocks/block-header/header.pug

      // test program

      .program

        // cabinet

        .program__cabinet

          // title cabinet

          .program__cabinet__title
            | Шкаф 1

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication                              

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Контакторы

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication                

        // cabinet

        .program__cabinet

          // title cabinet

          .program__cabinet__title
            | Шкаф 2

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Контакторы

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication                                            

        // cabinet

        .program__cabinet

          // title cabinet

          .program__cabinet__title
            | Шкаф 4

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

        // cabinet

        .program__cabinet.w-290.left

          // title cabinet

          .program__cabinet__title
            | ПУ 1

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-signal
              | Лампы

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__true.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

            .status-circle.center.status-circle__false.left.mr-8.program__cabinet__indications__signal
              .status-circle__indication

        // block

        .program__cabinet.w-300.left.ml-20.program__cabinet__ind

          // indications from cabinet

          .program__cabinet__indications

            .program__cabinet__indications__name-indication
              | Лампы с шкафов: 5/22

            .program__cabinet__indications__name-indication
              | Контакторы с шкафов: 5/111

            .program__cabinet__indications__name-indication
              | <span>Текущая операция:</span> Шкаф 3 Контактор включен

        // block

        .program__cabinet.left.ml-20.program__cabinet__ind.no-border.cols-for-buttons

          // indications from cabinet

          .program__cabinet__indications.no-padding

            .btn.btn-grey.btn-grey-big.btn__start.btn__start__true
              | Старт

            .btn.btn-grey.btn-grey-big.btn__reset.btn__reset__false
              | Сброс


  include ../blocks/block-local-connection-error/local-connection-error.pug
  include ../blocks/block-no-connection/no-connection.pug 
  //include ../blocks/block-navigation/navigation.pug
  include ../blocks/block-scripts/scripts.pug

