@import '../styles/fonts.css';
@import '../styles/reset.css';
a,
a:hover,
li,
img,
input,
textarea {
  transition: all 0.5s ease-in-out;
}
body {
  -webkit-user-select: none;
  cursor: default;
  background: #1f253d;
}
.content {
  line-height: 24px;
}
a,
a:hover {
  color: #1976aa;
}
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .title-page {
    margin: 30px 0 20px 0;
    font: 22px 'pt_sansbold';
    color: #fff;
  }
  .color-true {
    color: #11a8ab;
  }
  .color-alarm {
    color: #e64c65;
  }
  .conteiner {
    margin: 0 auto;
    position: relative;
    width: 992px;
    height: 736px;
    padding: 16px;
    overflow: hidden;
  }
  .column__left {
    float: left;
    width: 690px;
  }
  .column__right {
    float: right;
    width: 290px;
  }
  .padding-10 {
    padding: 10px !important;
  }
  .title-block {
    margin: -10px 0 0 -10px;
    position: absolute;
    width: 96.1%;
    height: 40px;
    padding: 0 2%;
    background: #50597b;
  }
  .title-block p {
    float: left;
    font: 16px 'pt_sansbold';
    line-height: 38px !important;
    color: #fff;
  }
  .block {
    padding: 20px;
    margin-bottom: 16px;
    background: #394264;
    color: #fff;
    font-size: 14px;
    font-family: 'pt_sansregular';
  }
  .block:last-child {
    margin-bottom: 0;
  }
  .block__field {
    margin-bottom: 10px;
    height: 32px;
  }
  .block__field:last-child {
    margin-bottom: 0;
  }
  .block__field p {
    float: left;
    line-height: 30px;
    font-size: 14px;
  }
  .right {
    float: right;
  }
  .left {
    float: left !important;
  }
  .center {
    margin: 0 auto;
  }
  .text-left {
    text-align: left;
  }
  .top {
    position: absolute;
    top: 0;
  }
  .bottom {
    position: absolute;
    bottom: 0;
  }
  .pos-a {
    position: absolute !important;
  }
  .status-message {
    width: 120px;
    height: 32px;
    background: #1f253d;
    text-align: center;
    border-right: 0 solid #1f253d;
    text-transform: uppercase;
    font: 14px 'pt_sansbold';
    line-height: 32px;
  }
  .status-circle {
    width: 24px;
    height: 24px;
    background: #1f253d;
    border-radius: 50%;
    overflow: hidden;
  }
  .status-circle__false {
    background: #1f253d;
  }
  .status-circle__false .status-circle__indication {
    background: #1f253d;
    border: 3px solid #50597b;
  }
  .status-circle__true {
    background: #50597b;
  }
  .status-circle__true .status-circle__indication {
    background: #e64c65;
    border: 3px solid #1f253d;
  }
  .status-circle__indication {
    margin: 2px 0 0 2px;
    width: 14px;
    height: 14px;
    background: #1f253d;
    border-radius: 50%;
  }
  .indication__analog {
    margin-left: 15px;
    display: block;
    padding: 4px 4px;
    width: 50px;
    background: #1f253d;
    border-radius: 4px;
  }
  .true {
    border-color: #11a8ab;
  }
  .false {
    border-color: #e64c65;
  }
  .bg-true {
    background: #11a8ab;
  }
  .bg-false {
    background: #e64c65;
  }
  .btn-small {
    display: inline-block !important;
    height: 20px !important;
    background: #394264;
    line-height: 2px !important;
    border-radius: 2px !important;
  }
  .btn-small:hover,
  .btn-small:focus {
    background: #50597b;
  }
  .btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 25px;
    font: 12px 'pt_sansbold';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 22px !important;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn:last-child {
    margin-bottom: 0;
  }
  .btn:hover {
    color: #fff;
  }
  .btn-grey {
    display: block;
    width: 100%;
    height: 24px;
    padding: 0 14px;
    background: #1f253d !important;
    border: 1px solid #50597b;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
  .btn-grey:hover,
  .btn-grey:focus {
    background: #50597b !important;
  }
  .btn-grey-small {
    height: 24px;
    font: 12px 'pt_sansbold';
    text-transform: uppercase;
    color: #fff;
    line-height: 22px;
  }
  .btn-grey-big {
    height: 34px;
    font: 14px 'pt_sansbold';
    color: #fff !important;
    text-transform: uppercase;
    line-height: 34px;
    background: #000;
  }
  .btn-grey-big:hover,
  .btn-grey-big:focus {
    color: #fff;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer !important;
    border-width: 0;
    border-color: #777;
    background-color: #50597b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #50597b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    border-width: 0;
    height: 50px !important;
    border-radius: 4px;
    background-color: #394264;
  }
  ::-webkit-scrollbar-track:hover {
    border-left: 0;
    background-color: #394264;
    border-radius: 4px;
  }
  .main__position__bottom {
    position: absolute !important;
    bottom: 16px !important;
  }
  .margin-10 {
    margin: 10px;
  }
  .mr-8 {
    margin-right: 8px;
  }
  .mr-40 {
    margin-right: 36px;
  }
  .full-width {
    width: 100% !important;
  }
  .no-left {
    float: none !important;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .w-120 {
    width: 104px;
  }
  .w-290 {
    width: 250px;
  }
  .w-150 {
    width: 130px;
  }
  .mt-20 {
    margin-top: 20px !important;
  }
  .pt-40 {
    padding-top: 40px !important;
    height: auto;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-70 {
    margin-top: 70px;
  }
  .w-180 {
    width: 140px;
  }
  .w-190 {
    width: 160px;
  }
  .pt-140 {
    padding-top: 140px;
  }
  .no-margin-right {
    margin-right: 0 !important;
  }
  img.about__bg {
    display: block;
    margin: 6% auto 6% auto;
    width: 880px;
    height: 454px;
  }
  .icon__close {
    top: -200px;
    right: -340px;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: url('../img/close.png') no-repeat;
  }
  .system-clock {
    float: left;
    width: 150px;
    font: 14px 'pt_sansregular';
    color: #fff;
    line-height: 18px;
  }
  .display-none {
    display: none;
  }
  .free-space-30 {
    height: 30px;
  }
  .program {
    height: auto;
  }
  .program__cabinet {
    margin-top: 20px;
    padding: 10px;
    height: auto;
    position: relative;
    border: 1px solid #50597b;
  }
  .program__cabinet__title {
    top: -17px;
    position: absolute;
    width: 8%;
    height: 34px;
    background: #1f253d;
    font: 16px 'pt_sansbold';
    color: #fff;
    text-align: center;
    line-height: 34px;
    z-index: 999;
  }
  .program__cabinet__indications {
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1124px) {
  .conteiner {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -380px;
    width: 992px;
    height: 736px;
    padding: 16px;
    overflow: hidden;
  }
}
.auth {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 320px;
  background: url('../img/logo.png') no-repeat bottom center;
  text-align: center;
  color: #fff;
}
.auth h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.auth input[type="password"] {
  margin-top: 50px;
  padding: 0 10px;
  width: 160px;
  height: 30px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 4px;
  content: "******";
  font: 14px 'pt_sansregular';
  color: #fff;
  margin-bottom: 20px;
}
.auth input[type="password"]::-webkit-input-placeholder {
  font: 14px 'pt_sansitalic';
  color: #fff;
}
.auth input[type="password"]:invalid {
  border-color: #e64c65;
}
.auth input[type="password"]:valid:required {
  border-color: #11a8ab !important;
}
.auth input[type="password"]:valid:required + button[type="submit"] {
  background: #11a8ab;
  border-color: #11a8ab;
}
.auth button[type="submit"] {
  background: #50597b;
  border: 1px solid #50597b;
  border-radius: 4px;
  color: #fff;
}
.auth button[type="submit"]:hover {
  background: #1f253d;
}
.auth__denied {
  display: none;
  margin-top: 110px;
  font: 24px 'pt_sansregular';
  color: #fff;
  text-align: center;
}
.auth__close {
  top: -200px;
  right: -340px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.block__cabintes table tr:nth-child(1) td {
  width: 90px;
  text-align: center !important;
  line-height: 12px;
  height: 16px;
}
.block__cabintes table tr:nth-child(2) td {
  padding-top: 10px;
  width: 90px;
  text-align: left !important;
  vertical-align: middle;
  height: 20px;
}
.header {
  padding: 10px;
  margin: 0 0 0 0px;
  margin-bottom: 20px;
  height: 38px;
  overflow: hidden;
}
.header__logo {
  margin-top: 4px;
  display: block;
  float: left;
}
.header__logo img {
  width: 126px;
  height: 26px;
}
.header__border__right {
  display: block;
  margin: 0 14px;
  margin-top: 3px;
  float: left;
  width: 1px;
  height: 32px;
  background: #50597b;
}
.header__about-screen {
  margin-top: 6px;
  margin-left: 0px;
  height: auto;
  text-align: left;
  float: left;
}
.header__about-screen p {
  margin-top: -5px;
  margin-bottom: 0;
  font: 14px 'pt_sansregular';
  color: #fff;
  line-height: 21px;
}
.icon__menu {
  margin-top: 9px;
  margin-right: 3px;
  float: right;
  cursor: pointer;
  width: 92px;
  height: 26px;
  background: url('../img/icon-menu.png') no-repeat right;
}
.keypad {
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: 100px;
  padding: 4px 10px 0px 10px;
  position: absolute;
  display: block;
  width: 372px;
  height: 118px;
  background: #394264;
  border-radius: 6px;
  z-index: 99999;
  display: none;
  border: 1px solid #444e76;
}
.keypad__button {
  position: relative;
  margin: 6px 6px 0 0;
  width: 48px;
  height: 48px;
  background: #1f253d;
  border-radius: 6px;
}
.keypad__button:before {
  margin: 1px 0 0 1px;
  position: absolute;
  content: "";
  width: 44px;
  height: 41px;
  background: #394264;
  border-radius: 6px;
  border: 1px solid #444e76;
  font: 24px 'pt_sansbold';
  color: #fff;
  text-align: center;
  line-height: 44px;
}
.keypad__button:active:before,
.keypad__button:focus:before {
  background: #1f253d;
}
.keypad__button:nth-child(2):before {
  content: "1";
}
.keypad__button:nth-child(3):before {
  content: "2";
}
.keypad__button:nth-child(4):before {
  content: "3";
}
.keypad__button:nth-child(5):before {
  content: "4";
}
.keypad__button:nth-child(6):before {
  content: "5";
}
.keypad__button:nth-child(7):before {
  content: "6";
}
.keypad__button:nth-child(8):before {
  content: "7";
}
.keypad__button:nth-child(9):before {
  content: "8";
}
.keypad__button:nth-child(10):before {
  content: "9";
}
.keypad__button:nth-child(11):before {
  content: "0";
}
.keypad__button__clean {
  margin: 14px 0 0 14px;
  position: absolute;
  width: 19px;
  height: 19px;
  background: url('../img/icon-clean.png') no-repeat;
}
.keypad__button__delete {
  margin: 14px 0 0 11px;
  position: absolute;
  width: 24px;
  height: 18px;
  background: url('../img/icon-delete.png') no-repeat;
}
.keypad__close {
  margin: -57px 0 0 0;
  position: absolute;
  right: -54px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}
.keypad__close img {
  display: block;
  margin: 18px 0 0 16px;
  width: 16px;
  height: 16px;
}
.auth__elements input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.local-connection-error {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 320px;
  text-align: center;
  color: #fff;
}
.local-connection-error h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.local-connection-error input[type="password"] {
  margin-top: 50px;
  padding: 0 10px;
  width: 160px;
  height: 30px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 4px;
  content: "******";
  font: 14px 'pt_sansregular';
  color: #fff;
  margin-bottom: 20px;
}
.local-connection-error input[type="password"]::-webkit-input-placeholder {
  font: 14px 'pt_sansitalic';
  color: #fff;
}
.local-connection-error input[type="password"]:invalid {
  border-color: #e64c65;
}
.local-connection-error input[type="password"]:valid:required {
  border-color: #11a8ab !important;
}
.local-connection-error input[type="password"]:valid:required + button[type="submit"] {
  background: #11a8ab;
  border-color: #11a8ab;
}
.local-connection-error button[type="submit"] {
  background: #50597b;
  border: 1px solid #50597b;
  border-radius: 4px;
  color: #fff;
}
.local-connection-error button[type="submit"]:hover {
  background: #1f253d;
}
.auth__close {
  top: -200px;
  right: -340px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.local-connection-error__message {
  margin: 80px 0;
}
.local-connection-error__message img {
  width: 170px;
  height: 62px;
  margin-bottom: 20px;
}
.local-connection-error__message p {
  font: 16px 'pt_sansregular';
  color: #fff;
}
.no-connection {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 320px;
  text-align: center;
  color: #fff;
}
.no-connection h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.no-connection input[type="password"] {
  margin-top: 50px;
  padding: 0 10px;
  width: 160px;
  height: 30px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 4px;
  content: "******";
  font: 14px 'pt_sansregular';
  color: #fff;
  margin-bottom: 20px;
}
.no-connection input[type="password"]::-webkit-input-placeholder {
  font: 14px 'pt_sansitalic';
  color: #fff;
}
.no-connection input[type="password"]:invalid {
  border-color: #e64c65;
}
.no-connection input[type="password"]:valid:required {
  border-color: #11a8ab !important;
}
.no-connection input[type="password"]:valid:required + button[type="submit"] {
  background: #11a8ab;
  border-color: #11a8ab;
}
.no-connection button[type="submit"] {
  background: #50597b;
  border: 1px solid #50597b;
  border-radius: 4px;
  color: #fff;
}
.no-connection button[type="submit"]:hover {
  background: #1f253d;
}
.auth__close {
  top: -200px;
  right: -340px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.no-connection__message {
  margin: 80px 0;
}
.no-connection__message img {
  margin-bottom: 20px;
  width: 70px;
  height: 34px;
}
.no-connection__message p {
  font: 16px 'pt_sansregular';
  color: #fff;
}
ul.title-zones {
  margin-top: 394px;
  position: absolute;
  width: 100%;
  height: 14px;
}
ul.title-zones li {
  float: left;
  height: 14px;
  font: 14px 'pt_sansregular';
  text-align: center;
  line-height: 14px;
  color: #fff;
}
ul.title-zones li:nth-child(1) {
  width: 153px;
  margin-right: 12px;
}
ul.title-zones li:nth-child(2) {
  width: 166px;
  margin-right: 43px;
}
ul.title-zones li:nth-child(3) {
  width: 146px;
  margin-right: 31px;
}
ul.title-zones li:nth-child(4) {
  width: 136px;
  margin-right: 0px;
}
