// header
.header
  // logotype
  a.header__logo(href="#" title=""): img(src="../img/logo.png" alt="")
  // border right
  .header__border__right
  // about screen
  .header__about-screen
    p
      |  Белорусская АЭС
    p
      |  Шкаф локального управления транспортным шлюзом
  // icon menu
  .icon__menu